<mat-card class="card">
    <mat-card-title>Detalle del producto</mat-card-title>
    <mat-card-content class = "card-content">
       <p>
        <!-- <mat-icon>store</mat-icon> -->
        <mat-icon>liquor</mat-icon>
        <strong>Nombre: </strong>{{product.name}}
       </p>
       <p>
        <!-- <mat-icon>inventory</mat-icon> -->
        <mat-icon>receipt_long</mat-icon>
        <strong>Stock: </strong>{{product.stock}}
       </p>
       <p>
        <mat-icon>euro</mat-icon>
        <strong>Precio: </strong>{{product.price |currency:'EUR'}} 
       </p>
       <p>
        <mat-icon>check</mat-icon>
        <strong>Activo: </strong>{{product.active? 'Activado' : 'Desactivado'}}
       </p>
       <p>
        <mat-icon>calendar_month</mat-icon>
        <strong>Fecha de alta: </strong>{{product.date_added |  date: 'dd/MM/yyyy'}}
       </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button type="button" (click)="editProduct()">
        <mat-icon>edit</mat-icon>
        </button>
        <button mat-raised-button type="button" (click)="closeProduct()">
        <mat-icon>close</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>

