.card {
  margin: 20px 40px 0 40px;
}
.chart-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
/* .chart-legend .legend-labels{ */
.legend-labels {
  width: 300px !important;
  background-color: blue;
}
.legend-wrap {
  width: 500px !important;
  background-color: blue;
}
.chart-legend {
  width: 500px !important;
  background-color: blue !important;
}
ngx-charts-legend {
  width: 500px !important;
  background-color: blue !important;
}
.ngx-charts-legend {
  width: 500px !important;
  background-color: blue !important;
}
.ngx-charts-gauge {
  width: 500px !important;
  background-color: blue !important;
}
